# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db
*.sqlite3

# Virtual environment
venv/
.venv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE settings
.vscode/
.idea/
